body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://plus.unsplash.com/premium_photo-1675805015392-28fd80c551ec?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    color: #fff;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.clock, .timer, .stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock .time {
    display: flex;
    font-size: 50px;
}

.clock .ampm {
    font-size: 24px;
}

.timer input {
    width: 60px;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.buttons {
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.display {
    font-size: 36px;
    margin-top: 20px;
}
